_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
*.lock

.geany/session.ini

tags.html-orig
tags-orig.html
tags-tagCloud.html

categories-orig.html

_READ/
_posts/TEMP/
_drafts/AGI-2015/
_mdda-workings/
