---
layout: page
title: Tags
header:
group: navigation
---
<style type="text/css" media="all">
.scroll-tabs {
  xheight:300px;
  height:600px;
  overflow-y:scroll;
  overflow-x:hidden
  xwidth:100%;
  xmargin-right:-20px;
}
</style>
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- {{ site_tags }} -->
{% assign tag_list = site_tags | split:',' | sort %}    
<div class="col-sm-3 scroll-tabs">
  <ul class="nav nav-tabs tabs-left" id="nav-tab-top">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture tag %}{{ tag_list[item] | strip_newlines }}{% endcapture %}
      <li>
        <a href="#{{ tag | cgi_escape }}-ref" data-toggle="tab">
          {{ tag }} <span class="badge pull-right">{{ site.tags[tag].size }}</span>
        </a>
      </li>
    {% endunless %}{% endfor %}
  </ul>
</div>
{% assign tag = nil %}
{% assign tag_list = nil %}
<div class="tab-content col-sm-9">
  {% for tag in site.tags %}
    <div class="tab-pane" id="{{ tag[0] }}-ref">
      <h2 style="margin-top: 0px">Posts tagged  with {{ tag[0] }}</h2>
      <ul class="list-unstyled">
        {% assign pages_list = tag[1] %}
        {% for node in pages_list %}{% if node.title != null %}{% if group == null or group == node.group %}
          <li style="padding-bottom:10px;"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a><span class="text-muted"> - {{ node.date | date: "%B %d, %Y" }}</span><br />
            <span style="margin-left:30px;">
              <a href="/categories.html#{{ node.category | downcase }}-ref"><span class="label label-success">{{ node.category | upcase }}</span></a>
              {% for t in node.tags %}<a href="#{{ t | cgi_escape }}-ref" onclick="scrolltab('{{t | cgi_escape }}');"><span class="label label-info">{{ t }}</span></a>&nbsp; {% endfor %}
            </span>
          </li>
        {% endif %}{% endif %}{% endfor %}
      </ul>
    </div>
  {% endfor %}
  {% assign pages_list = nil %}
</div>

<div class="clearfix"></div>

<script type="text/javascript">
// This opens up correctly with an anchor address, and captures click on the right-hand labels too
var redirect_hrefs_within_page=true;
</script>
