---
layout: page
title: Tags
header:
group: navigation
---
<div class="col-sm-12" xclass="nav nav-tabs" xdata-tabs="tabs">
  <div id="wordCloud" style="border:1px solid #f00;height:350px;xwidth:150px;">
    {% assign tags_list = site.tags %}
    {% for tag in tags_list %}
	  <span data-weight="{{ tag[1].size }}"><a href="#{{ tag[0] }}-ref" data-toggle="tab">{{ tag[0] }}</a></span>{% endfor %}
    {% assign tags_list = nil %}
  </div>
<!--
  <div id="tagCloud">
    {% assign tags_list = site.tags %}
    <ul class="nav nav-tabs">
    {% for tag in tags_list %}
	  <li><a href="#{{ tag[0] }}-ref" data-toggle="tab">{{ tag[0] }}</a></li>{% endfor %}
	</ul>
    {% assign tags_list = nil %}
  </div>
!-->
</div>
<div class="clearfix"></div>
<div class="tab-content col-sm-12">
  {% for tag in site.tags %}
    <div class="tab-pane" id="{{ tag[0] }}-ref">
      <h2 style="margin-top: 0px">Posts tagged  with {{ tag[0] }}</h2>
      <ul class="list-unstyled">
        {% assign pages_list = tag[1] %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if group == null or group == node.group %}
              <li style="line-height: 35px;"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a> <span class="text-muted">- {{ node.date | date: "%B %d, %Y" }}</span></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
      </ul>
    </div>
  {% endfor %}
</div>

<div class="clearfix"></div>
<script type="text/javascript">
// $("#wordCloud").awesomeCloud( settings );
</script>
